* {
  font-family: sans-serif;
}
body{
     background: #343541;   
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px;
   


}

p {
  font-size: 15px;
  font-weight: lighter;
  color: grey;

}

.app-title {
  color: rgb(182, 172, 172);
  font-weight: 900;

}

.suprise-me {
  padding: 5px 3px 5px 3px;
  border: none;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  margin-left: 5px;
  background-color: rgb(182, 172, 172);
  color: white;
}

.search-container {
  display: flex;
  box-shadow: rgba(0, 0, 82, 0.15) 0 2px 7px;
  min-width: 50vw;
  height: 7vh;
  border: none;
  border-radius: 10px;

}

.search-container input {
  border: none;
  height: 100%;
  border-radius: 10px;
  
  width: 90%;
  outline: none;

}

.search-container input::placeholder {
  padding: 10px 10px;
}

.search-container button {
  border: none;
  background-color: rgb(182, 172, 172);
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  min-width: 80px;
  padding: 5px 3px 5px 3px;

}


.search-result {

  border: none;
  border-radius: 10px;
  width: 70vw;
  min-height: 10vh;
}

.Answer {
  box-shadow: rgba(0, 0, 82, 0.15) 0 2px 7px;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 20px 10px;
}


.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  animation: spin 1s linear infinite; /* Apply animation */
  
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Starting point */
  }
  100% {
    transform: rotate(360deg); /* End point */
  }
}
